main {
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.info__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  padding: 2rem;
  background-color: var(--color-neutral-100);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.info__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info__label {
  font-weight: var(--font-weight-medium);
  color: var(--color-neutral-700)
}

.info__input,
.info__textarea {
  border: none;
  text-decoration: none;
  font-family: inherit;

  border-radius: var(--radius-md);
  border: solid 1px var(--color-neutral-200);
  font-size: var(--text-base);
  padding: 0.5rem;
  resize: none;
  width: 100%;
  appearance: none;
}

select:invalid {
  color: var(--color-neutral-400);
}

.info__input:focus,
.info__textarea:focus,
.info__input:valid,
.info__textarea:valid {

  color: var(--color-neutral-950);
}

.info__input::placeholder,
.info__textarea::placeholder {
  color: var(--color-neutral-400);
}

.info__button {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  padding: 1rem;
  background-color: var(--color-neutral-700);
  border-radius: var(--radius-md);
  color: var(--color-neutral-050);
  font-size: var(--text-base);
  box-shadow: var(--shadow-md);
}

.info__button:hover {
  background-color: var(--color-neutral-600);
  transition: 0.2s;
}

.info__required {
  color: var(--color-neutral-800);
}

.memberships {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.memberships__cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.memberships__card {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-050);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  animation: fadeInUp 0.5s ease both;
}

.memberships__card:nth-child(1) {
  animation-delay: 0.1s;
}

.memberships__card:nth-child(2) {
  animation-delay: 0.2s;
}

.memberships__card:nth-child(3) {
  animation-delay: 0.3s;
}

.memberships__card:nth-child(4) {
  animation-delay: 0.4s;
}

.memberships__card:hover {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-950);
  transition: 0.2s;
  cursor: pointer;
}

.memberships__title {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
}

.memberships__title span {
  font-weight: var(--font-weight-regular);
  font-size: var(--text-base);
}

.memberships__price {
  justify-self: flex-end;
}

.memberships__price span {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
}

.memberships__silver {
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-050);
}

.memberships__bronze {
  background-color: var(--color-neutral-600);
  color: var(--color-neutral-050);
}

.memberships__np {
  background-color: var(--color-neutral-050);
  border: 0.2rem solid var(--color-primary-300);
  color: var(--color-neutral-900);
}

.memberships__np:hover {
  border: 0.2rem solid var(--color-primary-200);
  background-color: var(--color-primary-200);
  color: var(--color-neutral-950);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 750px) {

  main {
    padding: 3rem;
  }

  .info__form {
    grid-template-columns: 1fr 1fr;
  }

  .info__org, .info__business, .info__description, .info__membership {
    grid-column: 1 / 3;
  }

  .info__submit {
    grid-column: 2 / 3;
  }
}

@media (min-width: 1000px) {

  main {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    grid-column: 1 / 3;
  }
}