main {
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.info__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  padding: 2rem;
  background-color: var(--color-neutral-100);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.info__group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.info__label {
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-700)
}

.info__input, .info__textarea {
  border: none;
  text-decoration: none;
  font-family: inherit;

  border-radius: var(--radius-md);
  border: solid 1px var(--color-neutral-200);
  font-size: var(--text-base);
  padding: 0.5rem;
  resize: none;
}

.info__required {
  color: red;
}

.memberships {
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.memberships__cards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.memberships__card {
  background-color: var(--color-neutral-100);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  padding: 2rem;
}

@media (min-width: 750px) {

  .info__form {
    grid-template-columns: 1fr 1fr;
  }

  .info__org, .info__business, .info__description {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1000px) {

  main {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    grid-column: 1 / 3;
  }
}